html, body {
  margin:0px;
  background-image: url(../images/mainbg11.gif); background-repeat: repeat-y; background-color:#ffffff; background-position:center;
  min-height:100%;_height:100%;
  color:#555555;
  font-size:12px;
  font-family:Arial;
}
.all {
  margin:0px;
  background-image: url(../images/mainbg1.gif); width:100%; background-repeat: repeat-y; background-color:#ffffff; background-position:center;
  height:100%;
  color:#555555;
  font-size:12px;
  font-family:Arial;
}
.shadow-left {
  background-image:url(../images/shadow-left.png); background-repeat:repeat-y; width:0px; height:100%;
}
.shadow-right {
  background-image:url(../images/shadow-right.png); background-repeat:repeat-y; width:0px; height:100%;
}
.maincenter {
   min-height:100%;_height:100%;
}
.all-bg {
  background-image: url(../images/mainbg1.gif); background-repeat: repeat-y; background-color:#ffffff; background-position:center; min-height:100%;_height:100%;
  padding-left:0px; padding-right:0px;
}
.all-bg .pad {
  padding-left:10px;
  padding-right:10px;
}

.header-bg0 {
   background-image: url(../images/header-bg1.gif); background-repeat:repeat-x; height:200px;
}
.header-bg {
  background-image: url(../images/header-bg1.jpg); width:992px; min-height:200px;_height:200px; background-repeat:no-repeat; background-position:top;
  color:#464646; font-size:11px; line-height:16px;
}
.header-bg a:link {
  color:#464646; text-decoration:none;
}
.header-bg a:visited {
  color:#464646; text-decoration:none;
}
.header-bg a:hover {
  color:#fd661c; text-decoration:underline;
}
.containitt {
  width: 992px; margin-left:auto; margin-right:auto; height:100%; background-image: url(../images/mainbg1.gif); background-repeat: repeat-y; background-position:center;
}

.containit {
  width: 992px; margin-left:auto; margin-right:auto; height:100%;  background-repeat: repeat-y;
}
.footer-bg0 {
  background-image:url(../images/footer-bg.jpg); background-repeat:repeat-x; height:118px; background-color:#d2f5f9; background-position:top;
}
.footer-bg {
  background-image:url(../images/footer-ins-bg.jpg); background-repeat:no-repeat; background-position:top; height:118px; background-color:#d2f5f9; background-position:top;
}
.footer-bg {
  font-size:11px; line-height:17px;
}
.footer-bg a:link {
  color:#000000; text-decoration:none;
}
.footer-bg a:visited {
  color:#000000; text-decoration:none;
}
.footer-bg a:hover {
  color:#ee8001; text-decoration:none;
}
.fl {
  float:left;
}
.fr {
  float:right;
}
.clear {
  clear:both;
}
a img {
  border:none;
}

h3 {
  color:#fd6215;
  font-family:arial;
  font-size:16px;
  margin:0px;
  padding:0px;
}
h4 {
  color:#5f5e29; font-size:18px; margin-top:0px; margin-bottom:8px; padding:0px; font-family:Arial; font-weight:normal;
}
h5 {
  color:#5f5e29; font-size:22px; margin-top:0px; margin-bottom:8px; padding:0px; font-family:Arial; font-weight:normal;
}
.vm {
  vertical-align:middle;
}

.boxbody {
  width:138px; min-height:109px;_height:109px; background-repeat:repeat-y; padding-left:10px; padding-right:10px; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb;
}
.itemoff {
  color:#96bf19; font-size:17px; font-family:Arial; font-weight:bold;
}
.itemoff a:link {
  color:#96bf19; text-decoration:none;
}
.itemoff a:visited {
  color:#96bf19; text-decoration:none;
}
.itemoff a:hover {
  color:#96bf19; text-decoration:none;
}
.dividero {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom:4px;
  margin-bottom:4px;
}
.itemon {
  color:#ffa406; font-size:17px; font-family:Arial; font-weight:bold;
}
.itemon a:link {
  color:#ffa406; text-decoration:none;
}
.itemon a:visited {
  color:#ffa406; text-decoration:none;
}
.itemon a:hover {
  color:#ffa406; text-decoration:none;
}
.newsbody {
  background-image:url(../images/news-body.jpg); width:140px; min-height:109px;_height:109px; background-repeat:no-repeat; background-position:bottom; padding-left:10px; padding-right:10px; background-color:#e6f2f5;
}
.newsbody .date {
  color:#788c11;
  font-size:10px; font-weight:bold;
  font-family:"Trebuchet Ms";
}
.newsbody .news {
  color:#585858;
  font-size:11px;
  font-family:Arial; line-height:16px;
}

.newsbody1 {
  background-image:url(../images/news-body.jpg); width:280px; min-height:109px;_height:109px; background-repeat:no-repeat; background-position:bottom; padding-left:10px; padding-right:10px; background-color:#e6f2f5;
}
.newsbody1 .date {
  color:#788c11;
  font-size:10px; font-weight:bold;
  font-family:"Trebuchet Ms";
}
.newsbody1 .news {
  color:#585858;
  font-size:11px;
  font-family:Arial; line-height:16px;
}

.newsletterbody {
  background-image:url(../images/nletter-body.jpg); width:140px; min-height:59px;_height:59px; background-repeat:no-repeat; background-position:bottom; padding-left:10px; padding-right:10px; background-color:#fcd68f; color:#5f5e29; font-size:10px;
}
.newsletterbody a:link {
   color:#5f5e29; text-decoration:underline;
}
.newsletterbody a:visited {
   color:#5f5e29; text-decoration:underline;
}
.newsletterbody a:hover {
   color:#e89300; text-decoration:underline;
}

.box2body {
  background-image:url(../images/box2_02.jpg); width:451px; background-repeat:repeat-y; min-height:200px;_height:200px;
}
.box2body .title {
  background-image:url(../images/home-box-title.jpg); background-repeat:no-repeat; background-position:top; min-height:105px;_height:105px; width:431px; margin-left:auto; margin-right:auto;
}
.box2body {
  color:#5e543a; font-size:12px;
}
.box2body ul {
  list-style: url(../images/barrow1.gif);
  margin:0px;
  padding-left:30px;
}
.box2body li {
  padding-bottom:6px;
}



.leftside {
  width:160px;
  margin-right:15px;
  padding-left:18px;
  overflow:hidden;
}
.rightside {
  width:764px;
  line-height:18px;
}

.box1 {
  background-color:#ffe9c3;
  padding:6px;
  margin-bottom:5px;
}
.box2 {
  background-color:#eaeaea;
  padding:6px;
  margin-bottom:5px;
}
.entry {
  line-height:17px;
  padding:8px;
}
.entry a:link {
  color:#5f7006; text-decoration:underline; font-weight:bold;
}
.entry a:visited {
  color:#5f7006; text-decoration:underline; font-weight:bold;
}
.entry a:hover {
  color:#ee8001; text-decoration:underline; font-weight:bold;
}
.entry td {
  vertical-align:top;
  font-size:12px;
}

.mainmenu {
  padding-top:12px; padding-left:30px;
}

.menuon-left {
  background-image: url(../images/menu-on-left.gif); background-position:top left; background-repeat:no-repeat; height:25px; padding-top:8px; font-family:"Trebuchet Ms"; color:#ffffff; font-weight:bold; font-size:12px; padding-left:12px; padding-right:12px;
}
.menuon-left a:link{
 color:#ffffff; text-decoration:none;
}
.menuon-left a:visited{
 color:#ffffff; text-decoration:none;
}
.menuon-left a:hover{
 color:#dbff6c; text-decoration:none;
}
.menuon-right {
  background-image: url(../images/menu-on-right.gif); background-position:top right; background-repeat:no-repeat; height:33px;
  margin-right:1px;
}

.menuoff-left {
  background-image:url(../images/menu-off-left.gif); background-position:top left; background-repeat:no-repeat; height:25px; padding-top:8px; font-family:"Trebuchet Ms"; color:#ffffff; font-weight:bold; font-size:12px; padding-left:12px; padding-right:12px;
}
.menuoff-left a:link{
 color:#ffffff; text-decoration:none;
}
.menuoff-left a:visited{
 color:#ffffff; text-decoration:none;
}
.menuoff-left a:hover{
 color:#ffd07d; text-decoration:none;
}
.menuoff-right {
  background-image:url(../images/menu-off-right.gif); background-position:top right; background-repeat:no-repeat; height:33px;
    margin-right:1px;
}

.submenue {
  width:710px;
  padding-top:6px;
  font-size:10px; color:#ffffff; line-height:15px;
}
.submenue a:link{
 color:#ffffff; text-decoration:none;
}
.submenue a:visited{
 color:#ffffff; text-decoration:none;
}
.submenue a:hover{
 color:#dbff6c; text-decoration:none;
}

.breadcrumbs {
  font-size:10px;
  font-family:Arial;
  color:#fd661c;
  padding-bottom:5px;
}

.breadcrumbs a:link {
  color:#484848;
  text-decoration:none;
}
.breadcrumbs a:visited {
  color:#484848;
  text-decoration:none;
}
.breadcrumbs a:hover {
  color:#fd661c;
 text-decoration:underline;
}

h1 {
  color:#5f5e29;
  font-size:24px;
  line-height: 26px;
  margin-top:0px;
  margin-bottom:9px;
  font-family:Arial;
  font-weight:normal;
}
h2 {
  color:#fd661c;
  font-size:18px;
  font-weight:normal;
  margin-top:0px;
  margin-bottom:5px;
}
h6 {
  color:#fd661c;
  font-size:13px;
  font-weight:bold;
  margin-top:0px;
  margin-bottom:4px;
}
p {
  margin-top:0px;
  margin-bottom:10px;
}

.green {
  color:#627b16;
}


ul {
  list-style: url(../images/barrow1.gif);
  margin:0px;
  padding-left:20px;
}
li {
  padding-bottom:6px;
}

a:link {
  color:#697812;
  text-decoration:none;
}
a:visited {
  color:#697812;
  text-decoration:none;
}
a:hover {
  color:#697812;
  text-decoration:underline;
}

.strong {
  font-weight:bold;
}
.linky {
  font-size:11px
}
.linky a:link {
  color:#fc7533; text-decoration:underline;
}
.linky a:visited {
  color:#fc7533; text-decoration:underline;
}
.linky a:hover {
  color:#fc7533; text-decoration:underline;
}

.eentry {
  border-bottom:1px solid #dbdbdb;
  padding-bottom:8px;
  margin-bottom:8px;
  padding-left:14px;
  padding-right:12px;
}
.orangerow {
  background-color: #faebc2;
}
.bolded {
  font-weight:bold;
}
.cell0 {
  width:125px;
  background-color: #faebc2;
  padding-left:10px;
  padding-right:10px;
  padding-top:12px;
  padding-bottom:10px;
  vertical-align:top;
}
.cell1 {
  width:125px;
  background-color: #e1e1e1;
  padding-left:10px;
  padding-right:10px;
  padding-top:12px;
  padding-bottom:10px;
  vertical-align:top;
}
.cell11 {
  background-color: #e1e1e1;
  padding-left:10px;
  padding-right:10px;
  padding-top:12px;
  padding-bottom:10px;
  vertical-align:top;
}
.smaller {
  font-size:10px; line-height:15px;
}
.smaller1 {
  font-size:11px;  line-height:16px;
}
.smaller2 {
  font-size:11px;  line-height:16px;
  font-color: fd661c;
}
.date {
  font-size:10px; padding-bottom:18px;
}
.date1 {
  font-size:10px; padding-bottom:6px;
}

.taboff {
  color:ffffff;
  background-color:#cccccc;
  border-top:1px solid #dbdbdb;
  border-left:1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom:1px solid #dbdbdb;
  text-align:center;
  padding-left:20px; padding-right:20px;
  padding-top:5px; padding-bottom:5px;
}
.taboff a:link {
  color:#373737; text-decoration:none;
}
.taboff a:visited {
  color:#373737; text-decoration:none;
}
.taboff a:hover {
  color:#373737; text-decoration:none;
}

.tabon {
  color:cccccc;
  background-color:#ffffff;
  border-top:1px solid #dbdbdb;
  border-left:1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom:1px solid #ffffff;
  text-align:center;
  padding-left:20px; padding-right:20px;
  padding-top:5px; padding-bottom:5px;
}
.tabdiv {
  background-color:#ffffff;
  border-bottom:1px solid #dbdbdb;
}
.tabbox {
  padding:20px;
  border-left:1px solid #dbdbdb;
  border-right:1px solid #dbdbdb;
  border-bottom:1px solid #dbdbdb;
}
.dvdr {
  background-color:#dbdbdb; width:1px;
}

.form_buttons		{ padding-top:14px; }
.form_buttons1		{ padding-top:12px; border-top:1px solid #dbdbdb; }

.box3 {
  border:1px solid #dbdbdb;
  padding:12px;
}


.buttons {
	font-family:Arial;
	font-size: 11px;
	font-weight: bold;
	color:  #FFFFFF;
	background-color: #fd661c;
	border: 1px double #FFFFFF;
	padding: 2px;
	margin: 2px;
}

.red {
  color:#fd661c;
}
